@page "/weather"
@inject HttpClient Http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@using Examen_Final.Clases
@inject NavigationManager NavigationManager
<PageTitle>Weather</PageTitle>

<h1>Vehiculos</h1>

<p>Cantidad de vehiculos registrados: @contador</p>

@if (Lista_Autos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Numero Chasis</th>
                <th>Marca</th>
                <th>Año fabricacion</th>
                <th>Numero Puertas</th>
                <th>Tipo de combustible</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auto in Lista_Autos)
            {
                <tr>
                    <td>@auto.numero_chasis</td>
                    <td>@auto.Marca</td>
                    <td>@auto.año_fabricacion</td>
                    <td>@auto.numero_puertas</td>
                    <td>@auto.tipo_combustible</td>
                    <td>
                        <button class="btn btn-warning"
                                @onclick="@(() => NavigationManager.NavigateTo($"/auto-editar/{auto.numero_chasis}"))">
                            Editar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger"
                                @onclick="@(() => NavigationManager.NavigateTo($"/auto-borrar/{auto.numero_chasis}"))">
                            Borrar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Automovil> Lista_Autos = new List<Automovil>();
    public static int contador = 0;
    protected override async Task OnInitializedAsync()
    {

        var savedAuto = localStorage.GetItem<List<Automovil>>("Vehiculos");

        if (savedAuto != null)
        {
            Lista_Autos = savedAuto;

        }
        foreach(var car in Lista_Autos){
            contador += car.con;
        }

    }
}
